.title {
    color: red;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 5mm;
}

img {
    max-width: 70%;
    margin: 5mm;
    border: 2mm brown solid;
    padding: 5mm;
}